.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px;
}

.product {
  width: 300px;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
}

.productImage {
  width: 70%;
}